<div class="tasks">
  <h2>Tasks</h2>
  <ul class="all-tasks">
    <li class="task">
      <h3 class="title">Wash tables</h3>
      <span class="location">Classroom B</span>
    </li>
    <li class="task">
      <h3 class="title">Do something else</h3>
      <span class="location">Big Workspace</span>
    </li>
  </ul>
</div>